.card {
  border-radius: 10%;
  border-color: #e3e3e3;
  border: 1px solid rgba(5, 5, 5, 0.06);
  padding: 30px;
  box-shadow: rgb(32 33 37 / 6%) 0px 0px 54px 0px;
  width: 300px;
}

label{
  color: #999;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

p.form-item {
  text-transform: uppercase;
  color: rgb(108, 107, 107);
  font-weight: bold;
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10em auto;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-direction: column;
}

.form-control {
  width: 100%;
}

.no-border-left {
  border-left: 0;
  border-radius: 0 7px 7px 0;
}

input {
  box-shadow: none;
  line-height: 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 0.75rem 0.875rem;
  vertical-align: middle;
  transition: border 0.2s linear 0s;
  border-radius: 7px 7px 7px 7px;
}

.btn {
  margin-top: 1rem;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-stretch: normal;
  font-weight: 700;
  width: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 1rem;
  min-height: 3.375rem;
  border-radius: 0.5rem;
  background: rgb(0, 157, 224);
  color: rgb(255, 255, 255);
}

.form-label {
  margin-bottom: 0.25rem;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.flex-start input {
  max-width: 300px;
  flex: 1 1 300px;
}

.flex-start .unit {
  font-size: 20px;
  padding: 0 10px 0 20px;
  color: #999;
  border: 2px solid #ccc;
  border-right: 0;
  line-height: 2.5;
  border-radius: 7px 0 0 7px;
  background: white;
}

form input:focus{
  outline: 0;
}